@charset "UTF-8";
/*태그 전체설정?*/
*{margin: 0;padding: 0;outline: 0;}
a{text-decoration: none; color:black;}
ul{list-style: none;}
/*해더 몸통*/
header{position: fixed; height: 90px; z-index:3;}
/*해더를 가져다 쓰는 곳에 #content란 wrap공간주기. 안쓰면 밀린다.*/
#content{padding-top: 90px;}
/*로고*/
#head .logo{position:absolute; width: 170px; height: 60px;left: 1%; top: 20px;}
#head .logo img{width:170px; height:60px;background-size: 170px 60px;}
/*좌측 메뉴*/
#head .lnb{position:absolute; height: 21px; float: right; right: 1%; top:35px;}
#head .lnb img{margin-left:5px;}
/*네비 메뉴*/
#head {height: 90px; background-color: #171d33;}
#head ul{list-style-type: none; margin:  0 auto;}
#gnb{width: auto;text-align: center;}
#gnb>li {position:absolute; width: 12%; height: 90px; text-align: center;}
/*밑에는 #gnb li첫째,둘째.. 이런식임* last-nth-child()면 뒤에서부터 숫자 카운터*/
#gnb li:nth-child(1){left: 19%;}
#gnb li:nth-child(2){left: 39%;}
#gnb li:nth-child(3){left: 59%;}
#gnb li:nth-child(4){left: 79%;}
#gnb li ul{position: absolute; top:83px; width:100%; background-color: black;}/*border-top: 7px solid #d34451;*/
#gnb li ul li{height: 47px;}
#gnb li ul a{display:block; color: #fff; padding: 12px 0 11px; margin:0 10px; border-bottom: 1px solid white;}
#gnb>li>a{display: block; padding: 31px 0 28px; color: #fff; font-size: 21px; font-weight: 700;}
#gnb .gnb_sub{visibility: hidden; opacity: 0;}
#gnb .on .gnb_sub{visibility: visible; opacity: 1;transition: all 1s ease-in-out; z-index: 2;}
#gnb .on .gnb_sub a{color: #000}
#gnb .on .gnb_sub a:hover{transition: all .3s ease-in-out; color: #fff;}
/*드롭 메뉴? 색*/
#gnb li:nth-child(1) ul{background-color: #bcc74f;border-top: 7px solid #b7c444;}
#gnb li:nth-child(2) ul{background-color: #f38f3a;border-top: 7px solid #f2852b;}
#gnb li:nth-child(3) ul{background-color: #cd6176;border-top: 7px solid #d34451;}
#gnb li:nth-child(4) ul{background-color: #605eae;border-top: 7px solid #5755a8;}
/*헤더 a호버시*/
#gnb li:nth-child(1) a:hover{color: #bcc74f;transition: all .3s ease-in-out;}
#gnb li:nth-child(2) a:hover{color: #f38f3a;transition: all .3s ease-in-out;}
#gnb li:nth-child(3) a:hover{color: #cd6176;transition: all .3s ease-in-out;}
#gnb li:nth-child(4) a:hover{color: #605eae;transition: all .3s ease-in-out;}

/*float 속성으로 깨지는 걸 방지하기위한 class clearfix만듬.*/
.clearfix {*zoom:1;}
.clearfix:before, .clearfix:after {display:block; content: ''; line-height: 0;}
.clearfix:after {clear: both;}