@charset "UTF-8";
body{margin: 0;}
ul{margin: 0;}
ul li{list-style: none;}
a{text-decoration: none; color: black;}
a:link { color: black; text-decoration: none;}
a:visited { color: black; text-decoration: none;}
a:hover { color: black; text-decoration: underline;}
p{margin: 0;}

#wrap{position: relative; min-width: 914px; max-width:1280px;  height: 100%; margin: 0 auto; padding: 0 20px;}

#navbox{display: table; width: 100%; height: 60px; background-color: #555274;}
#nav{display: table-cell; table-layout: fixed; vertical-align: middle;}
#nav > span{font-size: 20px; margin:0 2.5%; padding: 15px 4%; font-weight: 700; color: white;}

#con_top{height: 220px;}
#con_top_left{width: 70%; float: left; height: 220px;}
#con_top_right{width: 29%; float: right;}


/*슬라이더*/
#slider-wrap{position:relative;height:220px;}
.slider{height:100%;}
.slider ul{height:100%; z-index: 1;}
.slider ul li{display:none;position:absolute;left:0;top:0;width:100%;height:220px;}
.slider ul li div{width:100%;height:220px;}
.slider ul li div > img{width:100%;height:100%;}

.slider a.btnPrev{left:30px;z-index: 2;}
.slider a.btnNext{right:30px;z-index: 2;}
.slider a.btnPrev:hover{visibility: visible;}
.slider a.btnNext:hover{visibility: visible;}
.slider a.controller{visibility:hidden;position:absolute;top:58px;width:48px;height:86px;}



#member_box{padding: 25px 0;}

.member_input{width: 253px; height: 30px; padding: 0;}
.mem_tap{font-size: 15px; padding: 0 3%;}

#login_btn{width: 100%; height: 50px;}
span{cursor: pointer; font-size: 8px;}
#join{margin-left: 90px;}


#booklable{display: table; width: 100%; height: 60px;}
#depth_label{display: table-cell; table-layout: fixed; vertical-align: middle; background-color: #726d98;}
#depth_label span{font-size: 18px; margin:0; padding: 19px 6%; font-weight: 700; color: white;}
#depth_label span.active{background-color: #555274;}


#listBox ul li {padding: 3px 0;}
#listBox ul li span{font-size: 15px;}

.footer-info{background-color: #555274; color: white; font-weight: 300; padding:15px 0 15px 15px;}
